html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1rem 2.5em;
	display: flex;
	flex-flow: row nowrap;
	background-color: #fff7c1;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}
h1 {
	font-size: 2.2rem;
}
p, [for="type"] {
	margin-bottom: 0;
	margin-top: 2rem;
}
address {
	font-size: .8rem;
}
fieldset {
	border-radius: 10px;
	border: solid 2px #eae1a4;
	margin-bottom: 1rem;
}
legend {
	font-weight: bold;
	font-size: 1.2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: block;
}
label {
	display: block;
	margin-bottom: .5rem;
}
textarea {
	padding: 1rem;
	height: 10rem;
}
select {
	font-size: 1rem;
}
button {
	font-size: 1.2rem;
	margin: 1rem 0;
	padding: 1rem 5rem;
	background-color: orange;
	color: aliceblue;
	border-radius: 10px;
	border: none;
}
button:hover {
	background-color: white;
	color: orange;
	border: 1px solid orange;
}
input:not([type="radio"]):not([type="checkbox"]), textarea, select {
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	margin-bottom: 1.2rem;
	padding: .5rem 1rem;
	width: 20rem;
	border: none;
	border-radius: 10px;
	background-color: white;
}





